* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  /* background-color: #485461; */
  background-image: linear-gradient(#485461 0%,#28313b 75%,);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  z-index: 7;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}

.menu {
  max-width: 72rem;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brandlogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.brandlogo img {
  height: 4rem;
  width: 4rem;
}

.brandlogo h3 {
  margin: auto;
}

.hamburger-menu {
  width: 3rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  position: relative;
  width: 2rem;
  height: 2px;
  background-color: #ffffff;
  transition: 0.5s;
  border-radius: 10px;
}

.bar:before {
  position: absolute;
  content: "";
  transform: translateY(-10px);
  width: 2rem;
  height: 2px;
  background-color: #ffffff;
  border-radius: 10px;
}

.bar:after {
  position: absolute;
  content: "";
  transform: translateY(10px);
  width: 2rem;
  height: 2px;
  background-color: #ffffff;
  border-radius: 10px;
}

.wrapper.active .bar {
  transform: rotate(360deg);
  background: transparent ;
}

.wrapper.active .bar::before{
  transform: translateY(0) rotate(45deg);
}

.wrapper.active .bar::after{
  transform: translateY(0) rotate(-45deg);
}

.links {
  position: absolute;
  width: 100vw;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transform: scale(0);
  /* transform: translateX(100vw); */
}

.links ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  right: 0;
  top: 0;
  height: 30vh;
}

.wrapper.active .links {
  transform: scale(1);
}
.wrapper.active .links ul {
  transform: translate(-25vw,35vh);
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #485461;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #000000;
}

.wrapper.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  transform: scaleX(0);
  background-image: linear-gradient( 90deg, #434343, #000000 );
  opacity: 0.97;
}

.footer-general {
  background-color: #000;
  font-size: 10px;
  padding-bottom: 32px;
}
.footer-general img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.list-footer {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.list-footer li,.list-footer a{
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  padding: -5px 1px;
}
.list-footer a:hover{
  text-decoration: none;
  opacity: 1;
  color: #fff;
}