
header {
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative;
}

.overlay-journal {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
}

.journal-box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.journal-box p, .journal-box h5 {
  font-family: sans-serif;
}

.footer-journal {
  background-color: #000;
  font-size: 10px;
  padding-bottom: 32px;
}
.footer-journal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.list-footer {
  background-color: #000;
  color: #fff;
}
.list-footer li,.list-footer a{
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  padding: 5px 1px;
}
.list-footer a:hover{
  text-decoration: none;
  opacity: 1;
  color: #fff;
}
